* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    height: 100%;
    min-height: 100%;
  }
  
  body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
      ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
    background-color: rgb(68, 4, 4);
  }
  
  /* Page Layout */
  .columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .wrapper {
    display: flex;
  }
  .container {
    max-width: 960px;
    margin-top: 25px;
  }
  .lab-header {
    text-align: flex;
    background-color: beige;
    border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
    width:98%;
    padding: 30px;
    
  }
  .lab-header h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .main_form {
    display: flex;
    background-color: beige;
    border: 5px solid beige;
    border-radius: 3px;
  flex-direction: column;
  
    
    padding: auto;
    margin: 0 10px 40px 80px;
    width:50%;
  }
  
  .field {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  
  }
  
  .field input[type='text'] {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }
  
  .field label {
    margin-bottom: 15px;
    margin-left: 14px;
  }
  
  
  
  button {
    font-size: 16px;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: #640909;
  
    border: none;
    border-radius: 3px;
  
    padding: 10px 40px;
    cursor: pointer;
  }
  
   button:hover {
    background-color: #4be058;
  }
  
  button:active {
    background-color: #16741e;
  }
  
  .something {
    display: flex;
  
    background-color: beige;
    border: 5px solid beige;
    border-radius: 3px;
    height: 50%;
    width: 100%;
    padding: 30px;
  }
  .columns .side .bar{
    display: flex;
  
    width:100%;
    padding: 100px;
  }


  